<header>
    <div class="mdc-layout-grid max-width">
        <div class="mdc-layout-grid__cell--span-2"></div>
        <div class="mdc-layout-grid__cell--span-8">
            <div class="navbar-grid">
                <div class="navbar">
                    <a href="/home" id="link-about" class="navbar-link">Home</a>
                    <a href="/webproject" id="link-work" class="navbar-link">Web Project</a>
                    <a href="/experience" id="link-blog" class="navbar-link">Experience</a>
                    <a href="/volunteer" id="link-blog" class="navbar-link">Volunteer</a>
                    <a href="/contact" id="link-contact" class="btn-primary-sm">Contact</a>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell--span-2"></div>
    </div>
</header>