

<div class="navbar navbar-inverse navbar-fixed-top">
	
	<div class="navbar-inner navbar-inverse">
		<!--<a class="brand navbar-inverse" style="margin-left:3px;" href="/eindex/">Elementary Math Analyzer</a>-->
		<ul class="nav navbar-inverse">
			<li><a href="/eindex/"><i class="icon-home icon-white"></i> Elementary Math Home</a></li>
			<li><a href="/mathsection/2/"><i class="icon-list-alt icon-white"></i> View Paper</a></li>
			<!--<li><a href="/mathsection/2/"><i class="icon-list-alt icon-white"></i> View Elementary Math</a></li>
			<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-book icon-white"></i> View Papers <b class="caret"></b></a>
                <ul class="dropdown-menu">
					<li><a href="/mathsection/1/">View Elementary Math</a></li>
					<li><a href="/mathsection/2/">View Elementary Math</a></li>
                </ul>
			</li>-->
			<li><a href="/analyzer/2/"><i class="icon-align-left icon-white"></i> Analyzer</a></li>
			<li><a href="/concept/2/"><i class="icon-list-alt icon-white"></i> View Concepts</a></li>
			<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-white"></i> Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
					
					<li><a href="/math_admin/2/">Modify Elementary Math</a></li>
					<li><a href="/math_admin_taglist/?type=K">Modify Tags</a></li>
					<li><a href="/math_admin_missing_sol/">View Missing Solution for Elementary Math</a></li>
					<li class="divider"></li>
					<li class="nav-header">Admin Only</li>
					<li><a href="/admin/">Django Admin</a></li>
					<!--<li><a href="http://exampapers-mysql.ap01.aws.af.cm/">MySQL Admin</a></li>-->
                </ul>
			</li>
		</ul>
		<a class="brand navbar-inverse" style="margin-left:3px;" href="/index/">Additional Math</a>
		<a class="brand navbar-inverse" style="margin-left:3px;" href="/eindex/">Elemenatary Math</a>
		{% if user = 'logined' %}
			<a class="brand navbar-inverse" style="margin-left:3px;" href="/logout/">Logout</a>
		{% else %}
			<a class="brand navbar-inverse" style="margin-left:3px;" href="/login_view/">Login</a>
		{% endif %}
	</div>
</div>
<script src="/static/javascript/jquery-1.8.3.js"></script>
<script src="/static/javascript/bootstrap.js"></script>