<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dan Phan - Experience</title>
    <link rel="stylesheet" href="/static/bundle.css">
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2" as="font" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2" as="font" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/ptserif/v8/I-OtoJZa3TeyH6D9oli3iXYhjbSpvc47ee6xR_80Hnw.woff2" as="font" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpIgp9Q8gbYrhqGlRav_IXfk.woff2" as="font" crossorigin="">

    <meta name="theme-color" content="#606ec7">




</head>

<body>
{% include 'header.html' %}


<div class="about">
    <div>
        <div class="mdc-layout-grid max-width">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-5-tablet about-imgWrap">
                <img src="/static/image/citi-logo.png" alt="Dan Phan" width="150" height="150">
            </div>
            <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet about-contentWrap">
                <ul>
                    Manager at Citigroup, Singapore
                    <li>Duration: Jul 2017 - Present</li>
                    <li>Developed trading application, automate processes that reduce the effort and time from one day to one click.</li>
                    <li>Promoted to manager level after 2 years</li>
                </ul>
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>

    <div>
        <div class="mdc-layout-grid max-width">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-5-tablet about-imgWrap">
                <img src="/static/image/boa-logo.png" alt="Dan Phan" width="150" height="150">
            </div>
            <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet about-contentWrap">
                <ul>
                    Software Engineer at Bank of America, Singapore
                    <li>Duration: Jan 2014 - Jun 2014</li>
                    <li>Developed Cashpro Online User Interface in Global Wholesale Banking Technology, successfully persuaded team to use new tech Single Page Application and high performance templating technique that reduce the rendering times by 60%.</li>

                </ul>
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>


    <div>
        <div class="mdc-layout-grid max-width">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-8-tablet about-imgWrap">
                <img src="/static/image/ntu-logo.png" alt="Dan Phan" width="150" height="150">
            </div>
            <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet about-contentWrap">
                <ul>
                    Peer tutor and coach at Nanyang Technological University
                    <li>Duration: Aug 2012 - Jun 2015</li>
                    <li>Led tutor group of 15 students on module Operating System</li>
                    <li>Was voted as best peer tutor in semester 2 2013</li>
                    <li>Coached one student to overcome academic warning status</li>

                </ul>
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>
</div>


{% include 'footer.html' %}
<script>/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/\>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script>

</body></html>