<footer id="contact">
    <div class="footer-wrapper" style="min-height:calc(100vh - 350px)">
        <div class="footer-content">
            <h1>Let's connect!</h1>
            <p>We're better <br> When we're connected. </p>
            <a href="mailto:vandan193@gmail.com" class="text-link">
                <img src="/static/mail.svg" alt="Email" width="16px">
                vandan193@gmail.com
            </a>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-icons" style="height: 75px;">
            <div>
                <a target="_blank" href="https://www.linkedin.com/in/phan-dan-1349307b/" class="footer-icon">
                    <img src="/static/linkedin.svg" alt="Linkedin" class="footer-iconImg">
                </a>
                <a target="_blank" href="https://www.facebook.com/phanvdan" class="footer-icon">
                    <img src="/static/facebook.svg" alt="Facebook" class="footer-iconImg">
                </a>
                <a target="_blank" href="https://www.instagram.com/vandan193" class="footer-icon">
                    <img src="/static/instagram.svg" alt="Instagram" class="footer-iconImg">
                </a>
            </div>
        </div>
        <div class="footer-label" style="padding: 10px">
            From Singapore with <span>❤</span>
        </div>
    </div>
</footer>