<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dan Phan - Volunteer</title>
    <link rel="stylesheet" href="/static/bundle.css">
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2" as="font" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2" as="font" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/ptserif/v8/I-OtoJZa3TeyH6D9oli3iXYhjbSpvc47ee6xR_80Hnw.woff2" as="font" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpIgp9Q8gbYrhqGlRav_IXfk.woff2" as="font" crossorigin="">

    <meta name="theme-color" content="#606ec7">




</head>

<body>
{% include 'header.html' %}

<div class="about">
    <div>
        <div class="mdc-layout-grid max-width">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-5-tablet about-imgWrap">
                <img src="/static/image/citi-logo.png" alt="Dan Phan" width="150" height="150">
            </div>
            <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet about-contentWrap">
                <ul>
                    Citi Golf Charity 2016
                    <li>Duration: Jan 2016 - Sep 2016</li>
                    <li>Role: Compliance Lead - Lead team of 3 to handle compliance matter for event</li>
                    <li>Event Description: Event for Citi Executives, Government Representatives and Citi Partners played golf and make donation to ChildAid Charity</li>
                    <li>Notable attendence: Singapore Acting Minister, Citi Asia Pacific CEO</li>
                    <li>Success: Raise 540 000 SGD to ChildAid</li>
                    <li>Media: Business Times:, Straits Times</li>

                </ul>
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>

    <div>
        <div class="mdc-layout-grid max-width">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-5-tablet about-imgWrap">
                <img src="/static/image/toastmaster-logo.jpg" alt="Dan Phan" width="150" height="150">
            </div>
            <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet about-contentWrap">
                <ul>
                    Citi Toastmaster
                    <li>Role: Vice Present Public Relation Jul 2017 - Present</li>
                    <li>Role: Vice Present Education Jul 2016 - June 2017</li>
                    <li>Organized monthly meeting and developed strategy for club</li>
                </ul>
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>


    <div>
        <div class="mdc-layout-grid max-width">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-8-tablet about-imgWrap">
                <img src="/static/image/citi-logo.png" alt="Dan Phan" width="150" height="150">
            </div>
            <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet about-contentWrap">
                <ul>
                    Citi Sharing Session
                    <li>Duration: Sep 2016 - Present</li>
                    <li>Role: Charter Member and Organizer</li>
                    <li>Description: Forum where business department shares busines knowledge with tech department, and tech department shares useful tech skills with business department</li>


                </ul>
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>
</div>



{% include 'footer.html' %}
<script>/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/\>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script>

</body></html>