<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dan Phan - Web Project</title>
    <link rel="stylesheet" href="/static/bundle.css">
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2" as="font" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2" as="font" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/ptserif/v8/I-OtoJZa3TeyH6D9oli3iXYhjbSpvc47ee6xR_80Hnw.woff2" as="font" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpIgp9Q8gbYrhqGlRav_IXfk.woff2" as="font" crossorigin="">

    <meta name="theme-color" content="#606ec7">




</head>

<body>
{% include 'header.html' %}

<br><br>
<div class="about">
    <div style = "background-image: url('/static/image/background-image2.jpg');">
        <div class="mdc-layout-grid max-width">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-8-tablet about-imgWrap">
                <img src="/static/image/math-logo.PNG" alt="Dan Phan" width="150" height="150">
            </div>
            <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet about-contentWrap">
                <h4>A-Level Math Analyzer</h4>
                <h6 style="font-size:16px">
                    <ul><li>Provide the papers from over a decade with solutions provided.</li>
                        <li>Analyze the Mathematics collection with interesting data mining tools, suggest most important topics.</li>
                        <li>Help students better prepare for A-Level Math Exam</li>
                    </ul>
                    Project received Distinction with 4400 SGD in 2013 from URECA - Nanyang Technological University.<br>
                    Hosted at <a href="http://www.exampaper.phanvandan.com/" target="_blank">http://www.exampaper.phanvandan.com/</a>
                </h6>


                <br>
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>
    <div style = "background-image: url('/static/image/background-image.jpg');">
        <div class="mdc-layout-grid max-width">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet about-contentWrap">
                <h4>Conve&nbsp;&nbsp;</h4>
                <h6 style="font-size:16px">
                    <ul><li>platform that connect customers in Vietnam with travelers who fly from Singapore to Vietnam. These travelers bought products and shipped to Vietnam.</li>
                        <li>Co-founded this startup with 4 university friends </li>
                        <li>Was selected to present in final rounds of Ideasinc Entrepreneurship Competition in Aug 2015</li>
                        <li>Met sponsors for advices and sponsored offers</li>
                        <li>Duration: Feb 2015 - Jan 2016</li>
                    </ul>
                    This project is stopped from support, image service in website stops working.<br>
                    Hosted at <a href="http://www.conve.phanvandan.com/" target="_blank">http://www.conve.phanvandan.com/</a>
                </h6>
            </div>
            <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-8-tablet about-imgWrap">
                <img src="/static/image/conve-logo.PNG" alt="Dan Phan" width="150" height="150">
            </div>

            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>



</div>

<br><br>

{% include 'footer.html' %}
<script>/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/\>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script>

</body></html>